### IDE ###
.idea/

### Python ###
__pycache__/
*.pyc

### VENV ###
venv/

### ENV ###
.env

### sqlte3 DB files ###
*.db

### App logs ###
logs/

### Other app files ###
data/

### Other files ###
help.txt
